In [1]:
import pandas as pd

In [5]:
df1= pd.DataFrame({'store_id' : [1,2,3,4], 'date' : ['2025-07-13', '2025-07-14', '2025-07-15', '2025-07-16']})
df1

   store_id        date
0         1  2025-07-13
1         2  2025-07-14
2         3  2025-07-15
3         4  2025-07-16

In [6]:
df2= pd.DataFrame({'store_id' : [1,2,4,10], 'date' : ['2025-07-13', '2025-07-24', '2025-07-25', '2025-07-16']})
df2

   store_id        date
0         1  2025-07-13
1         2  2025-07-24
2         4  2025-07-25
3        10  2025-07-16

#### comparision/Equality

In [14]:
df1['store_id'].compare(df2['store_id'])                   #NaN indicates no difference; use df1.compare(df2) for complete comparision

   self  other
2   3.0    4.0
3   4.0   10.0

In [11]:
df1.equals(df2)

False

#### mismatched datatype..? use following
* astype()
* to_numeric()
* to_datetime()

####  Handling Inconsistent Values:
* df['column'].replace()
* df['column'].map()
#### String methods like:
* str.lower()
* str.strip()