In [1]:
import pandas as pd
import os

#### Merge weather and sales data to prepare for analysis

In [2]:
df_weather = pd.DataFrame({'cola': [12,34,31], 'colb': [32,55,17]})
df_weather

   cola  colb
0    12    32
1    34    55
2    31    17

In [12]:
df_sales = pd.DataFrame({'cola': [12,37,73,99], 'colc': [95,58,87,1]})
df_sales

   cola  colc
0    12    95
1    37    58
2    73    87
3    99     1

In [17]:
pd.merge(df_sales, df_weather)

   cola  colc  colb
0    12    95    32

In [15]:
df_sales.join(df_weather, lsuffix='_sale', rsuffix='_weather')

   cola_sale  colc  cola_weather  colb
0         12    95          12.0  32.0
1         37    58          34.0  55.0
2         73    87          31.0  17.0
3         99     1           NaN   NaN

In [20]:
pd.concat([df_sales, df_weather], axis=1)

   cola  colc  cola  colb
0    12    95  12.0  32.0
1    37    58  34.0  55.0
2    73    87  31.0  17.0
3    99     1   NaN   NaN