In [1]:
import pandas as pd

In [10]:
df1 = pd.DataFrame({'a' :[1,2,3], 'b':[3,2,1]})
df1

   a  b
0  1  3
1  2  2
2  3  1

In [11]:
df2 = pd.DataFrame({'a' :[1,5,4], 'b':[3,2,7]})
df2

   a  b
0  1  3
1  5  2
2  4  7

In [9]:
pd.merge(df1, df2)

Empty DataFrame
Columns: [a, b]
Index: []

In [15]:
pd.concat([df1, df2], axis=1)

   a  b  a  b
0  1  3  1  3
1  2  2  5  2
2  3  1  4  7

In [20]:
df1.join(df2, lsuffix='_df1', rsuffix='_df2', on='a')

   a  a_df1  b_df1  a_df2  b_df2
0  1      1      3    5.0    2.0
1  2      2      2    4.0    7.0
2  3      3      1    NaN    NaN