In [25]:
import pandas as pd

 #### Use rolling averages to smooth out daily sales data over 7-day windows.

In [31]:
df = pd.read_csv('sales_data.csv', nrows=100)
df.drop(columns= ['Customer_Age', 'Customer_Gender', 'Date','Sub_Category', 'Age_Group', 'Product', 'Order_Quantity', 'Unit_Cost'], inplace=True)

In [32]:
df.sort_values(by = 'Day', inplace=True)

In [33]:
df['rolling_average_revenue'] = df['Revenue'].rolling(window=7).mean()

In [34]:
df

,Day,Month,Year,Country,State,Product_Category,Unit_Price,Profit,Cost,Revenue,rolling_average_revenue
15,2,August,2015,Canada,British Columbia,Accessories,120,517,315,832,NaN
14,2,August,2013,Canada,British Columbia,Accessories,120,369,225,594,NaN
17,2,September,2015,Canada,British Columbia,Accessories,120,74,45,119,NaN
16,2,September,2013,Canada,British Columbia,Accessories,120,148,90,238,NaN
29,2,January,2016,Canada,British Columbia,Accessories,120,295,180,475,NaN
...,...,...,...,...,...,...,...,...,...,...,...
73,30,May,2016,United States,California,Accessories,120,145,90,235,703.714286
57,31,December,2015,United States,California,Accessories,120,508,315,823,703.714286
56,31,December,2013,United States,California,Accessories,120,436,270,706,670.142857
40,31,March,2014,United States,California,Accessories,120,799,495,1294,687.000000
41,31,March,2016,United States,California,Accessories,120,799,495,1294,763.571429