In [1]:
import pandas as pd
import os

#### groupby: split, apply, combine
Structure: 
* Splitting: groupby('col_name')/ groupby(['col1', 'col2'])
* Apply: aggregation/transformation
* Combine: Finally, the results combined back into a single, cohesive data structure, (new DataFrame or Series)

In [42]:
data = {'Region': ['East', 'West', 'East', 'West', 'East', 'West'],
        'Product': ['X', 'Y', 'X', 'Y', 'Z', 'X'],
        'Sales': [100, 150, 120, 180, 90, 110]}

df = pd.DataFrame(data)
df

  Region Product  Sales
0   East       X    100
1   West       Y    150
2   East       X    120
3   West       Y    180
4   East       Z     90
5   West       X    110

#### Grouping by a Single Column and Aggregating

In [3]:
df.groupby('Region')['Sales'].sum()                           # o/p - series

Region
East    310
West    440
Name: Sales, dtype: int64

#### Grouping by Multiple Columns

In [4]:
df.groupby(['Region', 'Product'])['Sales'].sum()                       # o/p - df

Region  Product
East    X          220
        Z           90
West    X          110
        Y          330
Name: Sales, dtype: int64

#### Applying Multiple Aggregations

In [5]:
df.groupby('Product')['Sales'].agg(['mean', min, 'max'])

/tmp/ipykernel_13676/2718265752.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df.groupby('Product')['Sales'].agg(['mean', min, 'max'])

          mean  min  max
Product
X        110.0  100  120
Y        165.0  150  180
Z         90.0   90   90

#### groupby() with transform()
* its result that has the same shape as the original DataFrame or Series

In [6]:
df

  Region Product  Sales
0   East       X    100
1   West       Y    150
2   East       X    120
3   West       Y    180
4   East       Z     90
5   West       X    110

In [7]:
df['Sales_mean'] = df.groupby('Region')['Sales'].transform('mean')

In [8]:
df

  Region Product  Sales  Sales_mean
0   East       X    100  103.333333
1   West       Y    150  146.666667
2   East       X    120  103.333333
3   West       Y    180  146.666667
4   East       Z     90  103.333333
5   West       X    110  146.666667

In [9]:
df.groupby('Region')['Sales'].mean()

Region
East    103.333333
West    146.666667
Name: Sales, dtype: float64

#### agg()

In [33]:
data = {'A': [1, 2, 3,7,3,9], 'B': [4, 5, 3,3,1,7], 'age' : [17,14,19,21,16,14]}
df = pd.DataFrame(data)
df

   A  B  age
0  1  4   17
1  2  5   14
2  3  3   19
3  7  3   21
4  3  1   16
5  9  7   14

##### single aggregation function to df

In [20]:
df.agg(sum)

/tmp/ipykernel_13676/3026864763.py:1: FutureWarning: The provided callable <built-in function sum> is currently using DataFrame.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df.agg(sum)

A       25
B       26
age    101
dtype: int64

##### multiple agg function to df

In [31]:
df.agg(['mean', 'max', sum, min, 'median', 'std'])

/tmp/ipykernel_13676/1683955946.py:1: FutureWarning: The provided callable <built-in function sum> is currently using Series.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df.agg(['mean', 'max', sum, min, 'median', 'std'])
/tmp/ipykernel_13676/1683955946.py:1: FutureWarning: The provided callable <built-in function min> is currently using Series.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df.agg(['mean', 'max', sum, min, 'median', 'std'])
/tmp/ipykernel_13676/1683955946.py:1: FutureWarning: The provided callable <built-in function sum> is currently using Series.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df.agg(['mean', 'max', sum, min, 'median', 'std'])
/tmp/ipykernel_13676/1683955946.py:1: FutureWarning: The provided callable <built-in function min> is currently using Series.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df.agg(['mean', 'max', sum, min, 'median', 'std'])
/tmp/ipykernel_13676/1683955946.py:1: FutureWarning: The provided callable <built-in function sum> is currently using Series.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df.agg(['mean', 'max', sum, min, 'median', 'std'])
/tmp/ipykernel_13676/1683955946.py:1: FutureWarning: The provided callable <built-in function min> is currently using Series.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df.agg(['mean', 'max', sum, min, 'median', 'std'])

                A          B         age
mean     4.166667   3.833333   16.833333
max      9.000000   7.000000   21.000000
sum     25.000000  23.000000  101.000000
min      1.000000   1.000000   14.000000
median   3.000000   3.500000   16.500000
std      3.125167   2.041241    2.786874

#### diff functions to diff columns

In [35]:
df.agg({'A' : 'mean', 'B' : sum, 'age' : 'max'})

/tmp/ipykernel_13676/2450273173.py:1: FutureWarning: The provided callable <built-in function sum> is currently using Series.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df.agg({'A' : 'mean', 'B' : sum, 'age' : 'max'})

A       4.166667
B      23.000000
age    21.000000
dtype: float64

##### agg to single column

In [39]:
df['A'].agg(['mean',sum])

/tmp/ipykernel_13676/4258003588.py:1: FutureWarning: The provided callable <built-in function sum> is currently using Series.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df['A'].agg(['mean',sum])

mean     4.166667
sum     25.000000
Name: A, dtype: float64

##### agg() with groupby

In [40]:
# already done

#### multiple agg to grouped data

In [41]:
# pls run df (product, region, sales) before below

In [48]:
df.groupby('Region').agg(Value_Sum = ('Sales', sum), Value_mean = ('Sales', 'mean'), maxValue = ('Sales', max))

/tmp/ipykernel_13676/3910970745.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df.groupby('Region').agg(Value_Sum = ('Sales', sum), Value_mean = ('Sales', 'mean'), maxValue = ('Sales', max))
/tmp/ipykernel_13676/3910970745.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.groupby('Region').agg(Value_Sum = ('Sales', sum), Value_mean = ('Sales', 'mean'), maxValue = ('Sales', max))

        Value_Sum  Value_mean  maxValue
Region
East          310  103.333333       120
West          440  146.666667       180

In [51]:
a1= (1,2,3,4)
a2= ('a', 'b', 'c', 'd')

In [57]:
type(pd.MultiIndex.from_tuples((a1,a2)))

pandas.core.indexes.multi.MultiIndex