In [1]:
import pandas as pd

In [2]:
data = {'price': [10, 12, 11, 13, 15, 14, 16, 18, 17, 19]}

In [4]:
df = pd.DataFrame(data)

#### rolling(window, min_periods, center, step)
* window:  This specifies the number of observations to include in each window/for calculating the statistic. It can be an integer (fixed number of rows) or a time offset string ('3D' for 3 days, '1M' for 1 month) if index is a DatetimeIndex.
* minimum_period
* center : if set to True, the window is centered on the current data point, meaning it includes data points before and after the current point. Default center=False; default window includes the current point and preceding points.
* after rolling agg functions such as mean(), sum(), std(), min(), max(), corr(), and apply() can be applied
* step:

In [38]:
df['rolling_mean'] = df['price'].rolling(window=4, min_periods=2, center=False, step=3).min()

In [39]:
df

   price  rolling_mean_5_days  rolling_mean
0     10                  NaN           NaN
1     12                  NaN           NaN
2     11                  NaN           NaN
3     13                 10.0          10.0
4     15                  NaN           NaN
5     14                  NaN           NaN
6     16                 13.0          13.0
7     18                  NaN           NaN
8     17                  NaN           NaN
9     19                 16.0          16.0