In [1]:
import pandas as pd

#### Write a function using apply() to classify transactions as "high", "medium", "low" based on revenue thresholds.

In [2]:
data = {'Prod' : ['Tumbler', 'fountain_pen', 'lunch-box', 'cup'], 'Price' : [12000, 60, 400, 70], 'Quantity' : [2, 10, 5, 12]}

In [3]:
df = pd.DataFrame(data)
df

           Prod  Price  Quantity
0       Tumbler  12000         2
1  fountain_pen     60        10
2     lunch-box    400         5
3           cup     70        12

In [4]:
df['Revenue'] = df.apply( lambda x: x['Price'] * x['Quantity'], axis=1)

In [5]:
df

           Prod  Price  Quantity  Revenue
0       Tumbler  12000         2    24000
1  fountain_pen     60        10      600
2     lunch-box    400         5     2000
3           cup     70        12      840

In [6]:
def fun(x):
    if x <=500:
        return 'low'
    elif x<=1000 and x>500:
        return 'medium'
    elif x>1000:
        return 'high'

In [9]:
df['category'] = df['Revenue'].apply(fun)

In [10]:
df

           Prod  Price  Quantity  Revenue category
0       Tumbler  12000         2    24000     high
1  fountain_pen     60        10      600   medium
2     lunch-box    400         5     2000     high
3           cup     70        12      840   medium