In [2]:
import pandas as pd
import os

### Normalize numeric columns and create derived metrics

In [13]:
df = pd.DataFrame({'Price' : [45, 50, 90, 35, 200, 150, 540], 'Age' : [12, 15, 19, 21, 35, 48, 81 ]})
df

   Price  Age
0     45   12
1     50   15
2     90   19
3     35   21
4    200   35
5    150   48
6    540   81

#### Normalization formula : 
   (x - min) / (max - min)

Normalization involves transforming its values to a common scale, typically between 0 and 1 or -1 and 1.

In [17]:
df['Price'] = round((df['Price'] - df['Price'].min()) / (df['Price'].max() - df['Price'].min()), 2)

In [18]:
df['Age'] = round((df['Age'] - df['Age'].min() )/ (df['Age'].max() - df['Age'].min()), 2)

In [19]:
df

   Price   Age
0   0.02  0.00
1   0.03  0.04
2   0.11  0.10
3   0.00  0.13
4   0.33  0.33
5   0.23  0.52
6   1.00  1.00