In [1]:
import pandas as pd

In [2]:
sales = pd.read_csv('index.csv')

In [3]:
sales.head()

,date,datetime,cash_type,card,money,coffee_name
0,2024-03-01,2024-03-01 10:15:50.520,card,ANON-0000-0000-0001,38.7,Latte
1,2024-03-01,2024-03-01 12:19:22.539,card,ANON-0000-0000-0002,38.7,Hot Chocolate
2,2024-03-01,2024-03-01 12:20:18.089,card,ANON-0000-0000-0002,38.7,Hot Chocolate
3,2024-03-01,2024-03-01 13:46:33.006,card,ANON-0000-0000-0003,28.9,Americano
4,2024-03-01,2024-03-01 13:48:14.626,card,ANON-0000-0000-0004,38.7,Latte

In [4]:
sales.dtypes

date            object
datetime        object
cash_type       object
card            object
money          float64
coffee_name     object
dtype: object

In [5]:
sales['date'] = pd.to_datetime(sales['date'], errors = 'coerce')

In [6]:
sales['datetime'] = pd.to_datetime(sales['datetime'], errors = 'coerce')

In [10]:
sales.isna().sum()

date           0
datetime       0
cash_type      0
card           0
money          0
coffee_name    0
dtype: int64

In [9]:
sales['card'].fillna('unknown', inplace=True)

In [19]:
sales['cash_type'].value_counts()

cash_type
card    1044
cash      89
Name: count, dtype: int64

### EDA

#### Which coffee has highest sale?

In [24]:
sales.groupby('coffee_name')['money'].sum().idxmax()

'Latte'

#### which coffee is sold most?

In [79]:
sales['coffee_name'].value_counts()

coffee_name
Americano with Milk    268
Latte                  243
Cappuccino             196
Americano              169
Cortado                 99
Hot Chocolate           74
Espresso                49
Cocoa                   35
Name: count, dtype: int64

#### which coffee has highest sale based on type of cash

In [39]:
cash_wise_sale = sales.groupby(['cash_type', 'coffee_name'])['money'].sum().reset_index()

In [40]:
idx = cash_wise_sale.groupby('cash_type')['money'].idxmax()
idx

cash_type
card     1
cash    15
Name: money, dtype: int64

In [41]:
cash_wise_sale.loc[idx]

   cash_type          coffee_name    money
1       card  Americano with Milk  8083.94
15      cash                Latte   991.00

#### which month has highest  sale?

In [50]:
indexed_sales = sales.set_index('date')

In [59]:
indexed_sales['money'].resample('M').sum()

/tmp/ipykernel_13430/3192110974.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  indexed_sales['money'].resample('M').sum()

date
2024-03-31    7050.20
2024-04-30    6720.56
2024-05-31    9063.42
2024-06-30    7758.76
2024-07-31    6915.94
Freq: ME, Name: money, dtype: float64

#### month-wise maximum coffee sale

In [69]:
sales['month'] = sales['date'].dt.month_name()

In [73]:
monthly_coffee_sale = sales.groupby(['month','coffee_name'])['money'].sum().reset_index()

In [77]:
month_idx = monthly_coffee_sale.groupby('month')['money'].idxmax()

In [78]:
monthly_coffee_sale.loc[month_idx]

    month          coffee_name    money
2   April           Cappuccino  1659.44
9    July  Americano with Milk  1863.80
17   June  Americano with Milk  2268.12
31  March                Latte  1874.50
39    May                Latte  2198.00