In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('world food production.csv')

In [3]:
df.head()

,Entity,Year,Maize Production (tonnes),Rice Production ( tonnes),Yams Production (tonnes),Wheat Production (tonnes),Tomatoes Production (tonnes),Tea Production ( tonnes ),Sweet potatoes Production (tonnes),Sunflower seed Production (tonnes),...,Oranges Production (tonnes),"Peas, dry Production ( tonnes)",Palm oil Production (tonnes),Grapes Production (tonnes),"Coffee, green Production ( tonnes)",Cocoa beans Production (tonnes),"Meat, chicken Production (tonnes)",Bananas Production ( tonnes),Avocados Production (tonnes),Apples Production (tonnes)
0,Afghanistan,1961,700000.0,319000.0,7467702.0,2279000.0,1873812.0,56315.0,3270871.0,12000.0,...,10100.0,232910.0,1131882.0,225000.0,870970.0,835368.0,5600.0,3139079.0,63439.0,15100.0
1,Afghanistan,1962,700000.0,319000.0,7420515.0,2279000.0,2044797.0,61519.0,3562524.0,12800.0,...,10100.0,259412.0,1111006.0,225000.0,883512.0,867170.0,6000.0,3181580.0,65118.0,15100.0
2,Afghanistan,1963,713000.0,319000.0,8479074.0,1947000.0,2096077.0,63596.0,3409916.0,12800.0,...,10100.0,251529.0,1145004.0,225000.0,996674.0,922621.0,6160.0,3304256.0,61760.0,15100.0
3,Afghanistan,1964,720000.0,380000.0,9113779.0,2230000.0,2388264.0,66604.0,3229336.0,12800.0,...,12400.0,247556.0,1160831.0,265000.0,1162048.0,1190061.0,6400.0,3392527.0,62759.0,18400.0
4,Afghanistan,1965,720000.0,380000.0,10067913.0,2282000.0,2559608.0,72418.0,3169104.0,13200.0,...,13700.0,266947.0,1138860.0,287000.0,1075084.0,874245.0,6800.0,3450849.0,66269.0,20400.0

In [4]:
df.shape

(11912, 24)

In [5]:
df.columns

Index(['Entity', 'Year', 'Maize Production (tonnes)',
       'Rice  Production ( tonnes)', 'Yams  Production (tonnes)',
       'Wheat Production (tonnes)', 'Tomatoes Production (tonnes)',
       'Tea  Production ( tonnes )', 'Sweet potatoes  Production (tonnes)',
       'Sunflower seed  Production (tonnes)', 'Sugar cane Production (tonnes)',
       'Soybeans  Production (tonnes)', 'Rye  Production (tonnes)',
       'Potatoes  Production (tonnes)', 'Oranges  Production (tonnes)',
       'Peas, dry Production ( tonnes)', 'Palm oil  Production (tonnes)',
       'Grapes  Production (tonnes)', 'Coffee, green Production ( tonnes)',
       'Cocoa beans Production (tonnes)', 'Meat, chicken  Production (tonnes)',
       'Bananas  Production ( tonnes)', 'Avocados Production (tonnes)',
       'Apples Production (tonnes)'],
      dtype='object')

In [6]:
df.duplicated().sum()

np.int64(0)

### EDA

#### which food product has highest production?

In [7]:
food_sale = df[['Maize Production (tonnes)',
      'Rice  Production ( tonnes)', 'Yams  Production (tonnes)',
       'Wheat Production (tonnes)', 'Tomatoes Production (tonnes)',
       'Tea  Production ( tonnes )', 'Sweet potatoes  Production (tonnes)',
       'Sunflower seed  Production (tonnes)', 'Sugar cane Production (tonnes)',
       'Soybeans  Production (tonnes)', 'Rye  Production (tonnes)',
       'Potatoes  Production (tonnes)', 'Oranges  Production (tonnes)',
       'Peas, dry Production ( tonnes)', 'Palm oil  Production (tonnes)',
       'Grapes  Production (tonnes)', 'Coffee, green Production ( tonnes)',
       'Cocoa beans Production (tonnes)', 'Meat, chicken  Production (tonnes)',
       'Bananas  Production ( tonnes)', 'Avocados Production (tonnes)',
       'Apples Production (tonnes)']].sum(axis=0)

In [8]:
food_sale.idxmax()

'Sugar cane Production (tonnes)'

#### which country has highest production of 'Sugar cane'

In [9]:
country_sugar_cane = df[['Entity', 'Sugar cane Production (tonnes)']]

In [10]:
country_sugar_cane_sale = country_sugar_cane.groupby('Entity')['Sugar cane Production (tonnes)'].sum()

In [11]:
country_sugar_cane_sale.idxmax()

'Peru'

#### year-wise highest produced food

In [12]:
df_year_production = df.groupby('Year')[['Maize Production (tonnes)',
      'Rice  Production ( tonnes)', 'Yams  Production (tonnes)',
       'Wheat Production (tonnes)', 'Tomatoes Production (tonnes)',
       'Tea  Production ( tonnes )', 'Sweet potatoes  Production (tonnes)',
       'Sunflower seed  Production (tonnes)',
       'Soybeans  Production (tonnes)', 'Rye  Production (tonnes)',
       'Potatoes  Production (tonnes)', 'Oranges  Production (tonnes)',
       'Peas, dry Production ( tonnes)', 'Palm oil  Production (tonnes)',
       'Grapes  Production (tonnes)', 'Coffee, green Production ( tonnes)',
       'Cocoa beans Production (tonnes)', 'Meat, chicken  Production (tonnes)',
       'Bananas  Production ( tonnes)', 'Avocados Production (tonnes)',
       'Apples Production (tonnes)']].sum()

In [13]:
df_year_production

,Maize Production (tonnes),Rice Production ( tonnes),Yams Production (tonnes),Wheat Production (tonnes),Tomatoes Production (tonnes),Tea Production ( tonnes ),Sweet potatoes Production (tonnes),Sunflower seed Production (tonnes),Soybeans Production (tonnes),Rye Production (tonnes),...,Oranges Production (tonnes),"Peas, dry Production ( tonnes)",Palm oil Production (tonnes),Grapes Production (tonnes),"Coffee, green Production ( tonnes)",Cocoa beans Production (tonnes),"Meat, chicken Production (tonnes)",Bananas Production ( tonnes),Avocados Production (tonnes),Apples Production (tonnes)
Year,,,,,,,,,,,,,,,,,,,,,
1961,1.324177e+09,4.550507e+09,4.177913e+08,4.104986e+09,7.945051e+08,24993702.6,9.059631e+08,3.042353e+08,1.445272e+09,3.087067e+08,...,3.960973e+08,9.592278e+07,2.976574e+08,6.368298e+08,4.936834e+07,3.056727e+07,2.814191e+08,4.823253e+08,2.384694e+07,5.024092e+08
1962,1.319763e+09,3.683388e+09,3.936157e+08,4.308814e+09,8.108833e+08,23331508.4,9.492941e+08,2.885300e+08,1.640238e+09,2.949609e+08,...,5.015417e+08,1.023873e+08,2.811488e+08,5.888691e+08,5.274330e+07,3.227567e+07,2.909967e+08,4.911718e+08,2.288689e+07,5.587321e+08
1963,1.424423e+09,3.816552e+09,4.243389e+08,4.181401e+09,8.274352e+08,23134115.4,8.833592e+08,3.103171e+08,1.779773e+09,2.803690e+08,...,5.070625e+08,9.946101e+07,2.782414e+08,5.885481e+08,4.950107e+07,3.554158e+07,2.989124e+08,4.709399e+08,2.602023e+07,4.785609e+08
1964,1.397399e+09,3.630016e+09,3.815446e+08,4.216309e+09,5.530326e+08,22312696.6,9.330622e+08,2.926282e+08,1.497010e+09,3.033083e+08,...,4.672583e+08,1.102092e+08,2.247371e+08,5.571411e+08,4.922979e+07,3.712414e+07,3.087524e+08,5.508681e+08,2.278948e+07,4.611511e+08
1965,1.465267e+09,3.847935e+09,4.422086e+08,4.281537e+09,5.379200e+08,22826693.2,9.033483e+08,2.931898e+08,1.202420e+09,2.896428e+08,...,4.939590e+08,1.235108e+08,1.515181e+08,5.948333e+08,4.925635e+07,3.629416e+07,3.089282e+08,5.287587e+08,2.650920e+07,4.640400e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017,7.487851e+09,5.555366e+09,7.953124e+08,5.701665e+09,8.693798e+08,33816653.4,1.108647e+09,2.902074e+08,1.931129e+09,4.254965e+08,...,5.264553e+08,1.341129e+08,4.311998e+08,9.011996e+08,8.892076e+07,4.381624e+07,3.230343e+08,5.828780e+08,4.671860e+07,6.393044e+08
2018,7.401576e+09,5.653445e+09,6.919498e+08,5.991785e+09,9.153098e+08,34828592.0,1.099530e+09,3.322307e+08,1.873648e+09,3.894594e+08,...,4.986981e+08,1.196662e+08,4.147180e+08,8.900151e+08,8.801389e+07,4.238806e+07,3.324662e+08,5.370813e+08,4.337324e+07,6.534326e+08
2019,7.485056e+09,5.864562e+09,7.561965e+08,6.011762e+09,9.373550e+08,28274188.2,1.057954e+09,3.350676e+08,1.977465e+09,3.690351e+08,...,5.405500e+08,1.178922e+08,4.619273e+08,9.330203e+08,8.944243e+07,4.309267e+07,3.441996e+08,5.215630e+08,4.316073e+07,6.466284e+08
2020,7.654228e+09,5.729200e+09,6.657069e+08,5.560685e+09,9.533649e+08,30898545.2,1.117538e+09,3.124775e+08,2.019020e+09,4.346187e+08,...,5.384565e+08,1.176449e+08,4.777175e+08,8.575859e+08,8.709917e+07,4.336072e+07,3.538763e+08,5.279820e+08,4.677004e+07,6.745294e+08
2021,7.972728e+09,5.845220e+09,6.909884e+08,5.479791e+09,9.353094e+08,31432217.4,9.883107e+08,3.356305e+08,1.907190e+09,4.001535e+08,...,5.498214e+08,1.183241e+08,5.049489e+08,7.934012e+08,9.385385e+07,4.203558e+07,3.515841e+08,4.951910e+08,4.295245e+07,6.475052e+08

In [14]:
list_max_food_production_yearly = list(df_year_production.max(axis=1))

In [15]:
mask = df_year_production.isin(list_max_food_production_yearly)

In [16]:
mask

,Maize Production (tonnes),Rice Production ( tonnes),Yams Production (tonnes),Wheat Production (tonnes),Tomatoes Production (tonnes),Tea Production ( tonnes ),Sweet potatoes Production (tonnes),Sunflower seed Production (tonnes),Soybeans Production (tonnes),Rye Production (tonnes),...,Oranges Production (tonnes),"Peas, dry Production ( tonnes)",Palm oil Production (tonnes),Grapes Production (tonnes),"Coffee, green Production ( tonnes)",Cocoa beans Production (tonnes),"Meat, chicken Production (tonnes)",Bananas Production ( tonnes),Avocados Production (tonnes),Apples Production (tonnes)
Year,,,,,,,,,,,,,,,,,,,,,
1961,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1962,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1963,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1964,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1965,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2018,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2019,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2020,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2021,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [19]:
df_year_production .columns[mask.any()].tolist()

['Maize Production (tonnes)',
 'Rice  Production ( tonnes)',
 'Wheat Production (tonnes)']