In [1]:
import pandas as pd

In [2]:
data = {'Name': ['Alice', 'Bob'], 'Age': [25, 30]}

In [3]:
df = pd.DataFrame(data)
df

    Name  Age
0  Alice   25
1    Bob   30

In [4]:
df.to_csv('output.csv')

In [5]:
df.to_csv('output_no_index.csv', index=False)                           #Excluding the Index:

Specifying a Different Separator:

df.to_csv('file.csv', sep='\t')

To represent missing values (NaN) with a specific string, use the na_rep

df.to_csv('file.csv', na_rep='N/A')

To export only a subset of columns/some specific columns only

df.to_csv('file.csv', columns=[give col names])

for compresion use compression = 'compression format'

In [9]:
df.to_csv('zip_file.csv.gz', compression='gzip')

#### if file already exists use mode
* w- default
* a - When appending, it's often desirable to set header=False to prevent duplicate headers in the appended file.
* x- (exclusive creation mode) attempts to create a new file exclusively. If the specified file path already exists, the operation will fail and raise a FileExistsError, preventing accidental overwriting.

In [11]:
try:
    df.to_csv('output.csv', index=False, mode='x')
except FileExistsError:
    print('file already exists')

file already exists