In [1]:
import pandas as pd
import numpy as np

In [30]:
data = {'name': ['harsh', 'sahil', 'nandini'], 'age' : [16,27,19]}
df1 = pd.DataFrame(data)
df1

      name  age
0    harsh   16
1    sahil   27
2  nandini   19

In [6]:
fruits = ['Apple', 'Banana', 'Orange', 1234, [None, True, False]]
df2 = pd.DataFrame(fruits, columns=['Col_1'])
df2

                 Col_1
0                Apple
1               Banana
2               Orange
3                 1234
4  [None, True, False]

In [17]:
arr = np.array([[1,2,3],[4,5,6], [12,34,21]])
df3 = pd.DataFrame(arr, columns=['col1', 'col2', 'col3'])
df3.dtypes

col1    int64
col2    int64
col3    int64
dtype: object

In [36]:
arr2 = np.array([1,2,3,4,5,6])
sf1 = pd.Series(arr2)
sf1

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [37]:
sf2 = pd.Series(fruits)
sf2

0     Apple
1    Banana
2    Orange
dtype: object

In [13]:
sf3 =  pd.Series(fruits, index=['i', 'ii', 'iii', 'iv', 'v'], name='numbers')
print(sf3)

i                    Apple
ii                  Banana
iii                 Orange
iv                    1234
v      [None, True, False]
Name: numbers, dtype: object

In [14]:
new_dict = {'a':'Hello', 'b':'people', 'c':'world', 'd':'dinner'}
sf3 = pd.Series(new_dict)
print(sf3.dtype)

object