In [1]:
import pandas as pd

In [19]:
df = pd.read_csv('data.csv')
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,NaN
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,NaN,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [7]:
df.shape

(150, 6)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  148 non-null    float64
 2   SepalWidthCm   147 non-null    float64
 3   PetalLengthCm  147 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        145 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

##### Not-null value count: using .count() function

In [26]:
df['Species'].count()

np.int64(145)

##### Not-null value count: using combination of .notna() {creates a boolean Series indicating non-null values: True for non-null, False for null} and .sum()

In [24]:
df['Species'].notna().sum()

np.int64(145)

##### NUll value count: isnull is opposite of notna()

In [28]:
df['Species'].isnull().sum()

np.int64(5)

#### dropna()

In [13]:
df.dropna(axis=1).shape

(150, 2)

##### dropna()
* dropna() removes any row that contains at least one NaN value
* Axis parameter is used to specify whether to drop rows (axis=0 or axis='index', default) or columns (axis=1 or axis='columns').
* Any parameter set to 'any' (default: drop if any NaN exists) or to 'all' (drop only if all values are NaN in a row/column)

#### fillna()

In [35]:
df.fillna(0)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,0.0,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [38]:
df.rename(columns={'PetalWidthCm' : 'pwc'}, inplace=True)

##### fillna()
* Replacing NaN values with-
* a constant ( 0, 'unknown')
* a statistical measure (mean, median of the column)
* interpolation methods (forward-fill (ffill) or backward-fill (bfill).); use 'method' parameter for ffill/bfill or directly df.ffill()

##### fillna in particular col

In [44]:
df['pwc'].fillna(df['pwc'].mean())

0      0.2
1      0.2
2      0.2
3      0.2
4      0.2
      ...
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: pwc, Length: 150, dtype: float64

In [42]:
df['Species'].fillna(0, inplace= True)

/tmp/ipykernel_7535/192045692.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Species'].fillna(0, inplace= True)