In [1]:
import pandas as pd

#### Pandas has Timestamp objects and DatetimeIndex.

##### Conversion to Datetime Objects: converts into datetime64[ns] objects [internal representation for datetime]

In [3]:
date_str = '2025-07-13'

In [5]:
type(date_str)

str

In [6]:
date = pd.to_datetime(date_str)

In [7]:
type(date)

pandas._libs.tslibs.timestamps.Timestamp

##### creating TimeStamp object

In [33]:
timeobj = pd.Timestamp('2010-7-16 21:30:00')
print(timeobj)

2010-07-16 21:30:00

In [34]:
timeobj.year

2010

In [35]:
timeobj.hour

21

In [36]:
timeobj.quarter

3

##### parse_dates parameter can be used to automatically convert specified columns to datetime objects during import

In [13]:
df = pd.read_csv('sales_data.csv')
df['Date'].dtype

dtype('O')

In [15]:
df = pd.read_csv('sales_data.csv', parse_dates=['Date'])
df['Date'].dtype                                               #datetime64 data type with nanosecond

dtype('<M8[ns]')

##### Accessing Datetime Components:

In [19]:
df['Date'].dt.year

0         2013
1         2015
2         2014
3         2016
4         2014
          ...
113031    2016
113032    2014
113033    2016
113034    2014
113035    2016
Name: Date, Length: 113036, dtype: int32

In [20]:
df['Date'].dt.year.unique()

array([2013, 2015, 2014, 2016, 2012, 2011], dtype=int32)

In [21]:
df['Date'].dt.month

0         11
1         11
2          3
3          3
4          5
          ..
113031     4
113032     4
113033     4
113034     3
113035     3
Name: Date, Length: 113036, dtype: int32

#### using datetime module of python

In [24]:
from datetime import date

In [26]:
date1 = date(2000, 1,21)
print(date1)

2000-01-21

In [37]:
from datetime import time

In [38]:
time1 = time(15,10,40)
print(time1)

15:10:40