In [1]:
import pandas as pd

#### resampling : changing freq of timeSeries
* downsampling:  reducing the frequency [from daily to weekly]
* upsampling: increasing the frequency [from daily to hourly]

In [3]:
index = pd.date_range('2020-03-15', periods=8, freq='T')         # 'T' for minute frequency

/tmp/ipykernel_11610/239557262.py:1: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  index = pd.date_range('2020-03-15', periods=8, freq='T')         # 'T' for minute frequency

In [4]:
s = pd.Series(range(8), index=index)

In [5]:
s

2020-03-15 00:00:00    0
2020-03-15 00:01:00    1
2020-03-15 00:02:00    2
2020-03-15 00:03:00    3
2020-03-15 00:04:00    4
2020-03-15 00:05:00    5
2020-03-15 00:06:00    6
2020-03-15 00:07:00    7
Freq: min, dtype: int64

#### downsampling

In [8]:
s.resample('3T').sum()                         # from minute-level frequency to a 3-minute frequency and calculating the sum

/tmp/ipykernel_11610/2042118257.py:1: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  s.resample('3T').sum()                         # from minute-level frequency to a 3-minute frequency and calculating the sum

2020-03-15 00:00:00     3
2020-03-15 00:03:00    12
2020-03-15 00:06:00    13
Freq: 3min, dtype: int64

In [19]:
s.resample('30S').sum()

/tmp/ipykernel_11610/2689423863.py:1: FutureWarning: 'S' is deprecated and will be removed in a future version, please use 's' instead.
  s.resample('30S').sum()

2020-03-15 00:00:00    0
2020-03-15 00:00:30    0
2020-03-15 00:01:00    1
2020-03-15 00:01:30    0
2020-03-15 00:02:00    2
2020-03-15 00:02:30    0
2020-03-15 00:03:00    3
2020-03-15 00:03:30    0
2020-03-15 00:04:00    4
2020-03-15 00:04:30    0
2020-03-15 00:05:00    5
2020-03-15 00:05:30    0
2020-03-15 00:06:00    6
2020-03-15 00:06:30    0
2020-03-15 00:07:00    7
Freq: 30s, dtype: int64

#### resampling based on specific col and not on index

In [20]:
data = {'price': [20, 21, 19, 23, 24, 28, 27, 29],
        'volume': [60, 70, 50, 100, 60, 100, 40, 60]}

In [21]:
df = pd.DataFrame(data)

In [22]:
df['week'] = pd.date_range('2025-07-20', periods=8, freq='W')

In [23]:
df

   price  volume       week
0     20      60 2025-07-20
1     21      70 2025-07-27
2     19      50 2025-08-03
3     23     100 2025-08-10
4     24      60 2025-08-17
5     28     100 2025-08-24
6     27      40 2025-08-31
7     29      60 2025-09-07

In [25]:
df.resample('M', on = 'week').mean()

/tmp/ipykernel_11610/984113423.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df.resample('M', on = 'week').mean()

            price  volume
week
2025-07-31   20.5    65.0
2025-08-31   24.2    70.0
2025-09-30   29.0    60.0